<footer class="footer1">
  <p>Copyright &copy; 2023 DroPT.inc All Rights Reserved.</p>
</footer>

<script
  data-name="BMC-Widget"
  data-cfasync="false"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
  data-id="jomoabhi"
  data-description="Support me on Buy me a coffee!"
  data-message="Buy Me Some Coffee:>"
  data-color="#FF813F"
  data-position="Right"
  data-x_margin="18"
  data-y_margin="18"
></script>
